DATABASE_URL=postgresql://postgres:password@db:5432/tasktrak
JWT_SECRET=your_secret_here
PORT=8080
SMTP_HOST=smtp_server
SMTP_PORT=smtp_port
SMTP_SECURE=true
SMTP_USER=user_name
SMTP_PASS=app_password
MAIL_FROM=email
